:root {
    --backgorund: #dedede;
    --text: #000000;
    --dark-cayan: darkcyan;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

p, h1, h2, h3, h4, h5, h6, ul, li, address, ol {
    margin: 0;
    padding: 0;
}

.top-bar, .side-bar {
    background-color: var(--backgorund);
    z-index: 1;
}

.side-bar {
    height: 100vh;
    width: 16.66%;
    position: fixed;
}

.logo {
    text-align: center;
}

.logo img {
    width: 60%;
}

.waw-menu {
    margin-top: 20px;
    padding-left: 0;
    height: 80vh;
    overflow-y: auto;
}

.waw-menu-item, .waw-menu-item a {
    color: var(--text);
    list-style: none;
    text-decoration: none;
    padding: 5px;
    background: #cfcfcf;
    margin: 1px 0;
    border-radius: 5px;
    font-weight: 600;
    position: relative;
    width: 100%;
    display: inline-block;
}

.waw-menu-item:hover {
    background: #c5c5c5;
}

.waw-menu-item a:hover {
    color: var(--dark-cayan);
}

.waw-menu-item i, .waw-menu-item a i {
    color: var(--dark-cayan);
    padding-right: 8px;
}

.waw-dropdown li {
    list-style: none;
    border-bottom: 1px solid #dedede;
}

.waw-dropdown li:last-of-type {
    border-bottom: none;
}

.waw-dropdown li a {
    font-size: 14px;
}

.waw-menu-item-right-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.waw-menu-item.active {
    background: #c5c5c5;
}

.waw-menu-item.active a {
    color: var(--dark-cayan);
}

.app_config {
    font-size: 10px;
}

.waw-menu::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.waw-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.waw-menu::-webkit-scrollbar-thumb {
    background: var(--dark-cayan);
}

.waw-menu::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.top-bar{
    padding: 5px;
    position: fixed;
    width: 83.33%;
}
.profile-section {
    position: relative;
}

.profile-section img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid silver;
}
.notifications{
    margin-right: 50px;
}
.notifications i{
    font-size: 20px;
    color: var(--dark-cayan);
    cursor: pointer;
}
.profile-dropdown{
    position: absolute;
    width: 150px;
    background: white;
    box-shadow: 0 5px 5px silver;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    top: 47px;
    text-align: center;
}
.profile-dropdown ul{
    list-style: none;
}
.profile-dropdown ul li{
    padding: 5px 0;
    border-bottom: 1px solid silver;
    transition: .3s all ease-in-out;
}
.profile-dropdown ul li:last-of-type{
    border-bottom: none;
}
.profile-dropdown ul li:hover{
    background: rgba(192, 192, 192, 0.21);
}
.profile-dropdown ul li a{
    color: black;
    text-decoration: none;
}
.cursor-pointer{
    cursor: pointer;
}
.custom-breadcrumb{
    margin-top: 55px;
    padding: 10px;
    background: #dedede;
    border-radius: 5px;
}
.custom-breadcrumb a{
    color: var(--dark-cayan);
    text-decoration: none;
}

legend{
    margin-bottom: 0 !important;
    padding:  0 22px !important;
    width: auto!important;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-cayan);
    font-weight: 300;
    float: none;
}
fieldset{
    border: 1px solid rgba(0, 139, 139, 0.5);
    padding: 0 22px 22px 22px;
    border-radius: 16px;
    margin-top: 16px;
}
.custom-input-group{
    position: relative;
    margin-bottom: 16px;
}
.validation-error{
    position: absolute;
    color: red;
    font-size: 12px;
}

.image-upload-container{
    width: 200px;
    height: 150px;
    border: 3px solid var(--dark-cayan);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.image-upload-container img{
    width: 194px;
    height: 144px;
    object-fit: cover;
}
.image-upload-container .overly{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--dark-cayan);
    opacity: .5;
    left: 0;
    top: 0;
}
.image-upload-container .fa-camera{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-shadow:  0 0 10px black;
    transition: .3s all ease-in-out;
}
.image-upload-container .fa-camera:hover{
    color: silver;
}
table th, td{
    vertical-align: middle;
}
.table-image{
    width: 50px;
    border: 1px solid silver;
    border-radius: 5px;
}


